.container{
    width: 100%;
    position: relative;
}

.container img{
    width: 100%;
}

.textContainer{
    position: absolute;
    top: 150px;
    left: 100px;
}

.textContainer h1{
    font-size: 7rem;
    color:#5d7e8b ;
}
.textContainer p{
    font-size: 4rem;
    margin-top: 30px;
    color:#5d7e8b ;
}

.textContainer span{
    color: #30c0e4;
    font-weight: bold;
}