.text{
    text-align: center;
    padding-top: 50px;
}
.text p {
    font-size: 3rem;
    color: rgb(117, 117, 117);
    font-weight: bold;
}

.images{
    display: flex;
    justify-content: space-around;
    margin: 40px 100px;
}

.images img{
    width: 150px;
    height: 150px;
}